{% extends "master.html" %}

{% block content %}
<h1> Sign Up </h1>
<form action = "/signup" method='post'>
  <div>
  <label>Username
    <input id = "username" type = 'text' name='username' value = '{{username}}' required minlength = '3'/>
  </label><label class = 'error'>{{username_error}}</label>
  </div>
  <div>
  <label>Password
    <input id = "password" type = 'password' name= 'password' required minlength = '3'/>
  </label><label class = 'error'>{{password_error}}</label>
  </div>
  <div>
  <label>Confirm Password 
    <input id = "confirm" type = 'password' name = 'confirm' required minlength = '3'/>   
  </label><label class = 'error'>{{confirm_error}}</label>
  </div>
  <div>
  <label>Email (Optional)
    <input id = "email" type='text' name = 'email' value = '{{email}}' minlength = '3' value = ''/>
  </label><label class = 'error'>{{email_error}}</label>
  </div>
  <input type='submit' value='Submit Form'/>
<style>
  #username{
            margin: 0 0 3px 56px;
          }
  #password{
    margin: 0 0 3px 60px;
  } 
  #confirm{
    margin: 0 0 3px 1px;
  }   
  #email{
    margin: 0 0 5px 12px;
  }    
.error{
  color: red;
}
</style>




</form>







{% endblock %}